<html lang="ru">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Вместе</title>
  </head>
  <body>
    {/* <p
      class="absolute top-80 right-0 left-0 -z-10 text-center text-[12rem] font-bold text-black opacity-5 lg:top-32 lg:text-[25rem]"
    >
      503
    </p> */}
    <div class="relative mx-auto mt-16 max-w-xl space-y-6 text-center px-4 pb-8">
      <img
        src="/logo.svg"
        width="150"
        height="154.2"
        class="mx-auto"
        alt="Логотип проекта. Минималистичный рисунок трех птиц разных цветов, летящих вверх. Снизу от них надпись 'Вместе'"
      />
      <a
        href="/telegram"
        class="flex items-center justify-center rounded-lg border border-[#3981EE] bg-white py-2 text-[#3981EE] transition-opacity hover:border-[#2273EC] hover:text-[#2273EC] mx-auto w-max px-12"
      >
        Telegram чаты {'"Вместе"'}
      </a>
      <p>
        Всем привет! За последнее время сотни тысяч людей были вынуждены покинуть свои дома. Кто-то
        бежал от войны, кто-то от политических репрессий, кто-то просто перестал чувствовать себя в
        безопасности. Всех этих людей объединяет одно — они начали строить свой дом на новом месте.
        И мы хотим им помочь.
      </p>
      <p>
        «Вместе» — это чаты, которые помогают найти полезные контакты на новом месте. Вы можете как
        разместить объявление с предложением своих услуг, так и запросить помощь. Это может быть что
        угодно — возможно, у вас есть ресторан, или вы умеете чинить бытовую технику и убирать по
        дому, выгуливать домашних животных или делать маникюр. Может быть вы просто хотите собрать
        людей на пробежку, пикник или вечеринку.
      </p>
      <p>Мы сделали телеграм-чаты по основным городам, где можно оперативно общаться.</p>
      <p>Надеемся, наш сервис поможет вам на новом месте.</p>
      <p>Главное, что мы вместе!</p>
    </div>
  </body>
</html>
